@charset "UTF-8";
/* CSS Document */

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
}

.logo img {
    width: 50px; /* 调整为适当的宽度 */
    height: auto; /* 保持纵横比 */
}
body {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    overflow-x: hidden;
    height: 100vh;
}

main {
    position: relative;
    width: 100%;
    height: 100vh; 
    background: url('../images/ai.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.concept {
    background: rgba(255, 255, 255, 0.8); /* 半透明白色背景 */
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    animation: fadeIn 1s ease-in-out; /* 应用淡入动画 */
}

/* 淡入动画 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    font-size: 28px;
    color: #333; /* 修改标题颜色以提高可读性 */
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #333; /* 修改段落颜色以提高可读性 */
    line-height: 1.6;
    max-width: 800px;
    text-align: justify; /* 文字两端对齐 */
}
