@charset "UTF-8";
/* CSS Document */
body {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 50px; /* 调整为适当的宽度 */
    height: auto; /* 保持纵横比 */
}
main {
    overflow: hidden;
}

.section {
    display: flex;
    height: 100vh;
    opacity: 0; /* 初始透明度为 0 */
    transition: opacity 1s ease-in-out; /* 添加过渡效果 */
}

.section.show {
    opacity: 1; /* 当被添加 show 类时透明度为 1 */
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: justify;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-height: 600px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
}
